@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Merriweather+Sans:ital,wght@0,300..800;1,300..800&family=Spectral:ital,wght@1,300&display=swap');
body {
    box-sizing: border-box;
    margin: 0;
    background-color: #0A1828;
}


.main {
    border-bottom: 2px solid #BFA181;
    margin: 0;
    padding: 15px;
    
}

.heading {
    text-align: center;
    margin: 0;
    padding: 20px;
    color: #FF595A;
    font-family: Merriweather;
    font-size: 50px;
}

.game {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:5rem;
}

#score {
    color: #FAF5E9;
}

#buttons {
    display: flex;
    gap:3rem;
}

button {
    padding: 15px;
    min-height: 60px;
    min-width: 180px;
    color: #BFA181;
    border-color: #BFA181;
    background-color: #0A1828;
    font-size: large;
    border-radius: 13px;
    box-shadow: 0px 0px 2px 2px #BFA181;
}



