@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Merriweather+Sans:ital,wght@0,300..800;1,300..800&family=Spectral:ital,wght@1,300&display=swap');

body {
    box-sizing: border-box;
    margin: 0;
    background-color: #0A1828;
}


.main {
    border-bottom: 2px solid #BFA181;
    margin: 0;
    padding: 15px;

}

.heading {
    text-align: center;
    margin: 0;
    padding: 15px;
    color: #EF3B33;
    font-family: fantasy;
    font-size: 40px;
}

.game {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5rem;
}


#buttons {
    display: flex;
    gap: 3rem;
    margin-bottom: 100px;
}

button {
    padding: 15px;
    min-height: 60px;
    min-width: 180px;
    color: #BFA181;
    border-color: #BFA181;
    background-color: #0A1828;
    font-size: large;
    border-radius: 13px;
    box-shadow: 0px 0px 2px 2px #BFA181;
}

.player-score {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    padding: 20px;
    gap: 2rem
}

#score {
    color: #FAF5E9;
    font-size: 60px;
    color: #BFA181;
}

#show-score {
    color: #EF3B33;
    font-size: 50px;
}

.moves {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: scroll;
    max-height: 250px;

}

.message {
    color: #BFA181;
    font-size: 25px;
}

.line {
    flex-basis: 600px;
}